@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Roboto+Flex:opsz@8..144&display=swap');

*{
  font-family: 'Exo 2', sans-serif;
}


.matrix {
  position: relative;
  margin: auto;
  margin: 1em;
}
.matrix:before, .matrix:after {
  content: "";
  position: absolute;
  top: 0;
  border: 1px solid #000;
  width: 6px;
  height: 100%;
}
.matrix:before {
  left: -6px;
  border-right: 0px;
}
.matrix:after {
  right: -6px;
  border-left: 0px;
}
.matrix td {   
  text-align: center;
  padding: 0;
}

.para{
   font-weight: 600;
   font-size: 18px;
}

.header {
  position: absolute;
  top:0px;
  font-size: 48px;
}

.container{
  background-color:#f3f6f9;
  display:flex;
  flex-direction:column;
  align-items:center; 
  justify-content:center; 
  width:100vw; 
  min-height:100vh;
  margin:0;
}

.mainBox{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    min-height:450px;
    background-color:white;
}
.mainCard{
    min-height:450px;
    background-color:white;
    min-width:1300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.solutionPaper{
  margin:16px; 
  height:93px;
  width:720px
}

.navPaper{
  position: relative; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  width:100%; 
  margin-top:16px;
}
@media (max-width: 600px) {
  .header{
    position: relative;
  }
  .solutionPaper{ 
    min-height:150px;
    width:90%
  }
  .mainBox{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    min-width:"90%";
    background-color:white;
  }
  .container{
    width: 100vw;
    min-height: 100vh;
  }
  .mainCard{
    background-color:white;
    display:flex;
    min-width: 95%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
}