@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Roboto+Flex:opsz@8..144&display=swap');

*{
  font-family: 'Exo 2', sans-serif;
}


.matrix {
  position: relative;
  margin: auto;
  margin: 1em;
}
.matrix:before, .matrix:after {
  content: "";
  position: absolute;
  top: 0;
  border: 1px solid #000;
  width: 6px;
  height: 100%;
}
.matrix:before {
  left: -6px;
  border-right: 0px;
}
.matrix:after {
  right: -6px;
  border-left: 0px;
}
.matrix td {   
  text-align: center;
  padding: 0;
}

.para{
   font-weight: 600;
   font-size: 18px;
}

.header {
  position: absolute;
  top:0px;
  font-size: 48px;
}